.body{
    margin: auto;
    font-size: 13px;
    font-family: sans-serif;
}

.user{
    padding: 15px;
    border-bottom: 1px solid black;
}

.user-img {
    border-radius: 50%;
    height: 80px;
}

.user-list-header{
    padding: 2px 0px 2px 7px;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}

/* Business Card Css Start */
.business-card {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.profile-img {
  height: 120px;
  background: white;
}
.job {
  color: #666666;
  font-size: 17px;
}
.mail {
  font-size: 16px;
 }

 .card-content {
    padding: 0 50px 0 50px;
 }
 .edit-button{
    position: absolute;
    right: 10px;
    top: 10px;
 }

 .edit-button .btn{
    border-radius: 15px;
 }
/* Business Card Css End */

.margin-bottom {
    margin-bottom: 5px;
}