<div class="container-fluid">
    <form class="navbar-form navbar-left">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input type="text" ng-model="filterBy.filter.Name" ng-model-options="{debounce: 300}"
                    class="form-control" placeholder="Search name" ng-change="filterBy.filterChanged();">
            </div>
        </div>
    </form>
    <!-- TODO fix sequence -->
    <div class="nav navbar-nav pull-right">
        <label>Salary</label>
        <span>
            High Low 
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': true}"></i>
        </span>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <select ng-model="filterBy.filter.Department" placeholder="Depeartment" ng-change="filterBy.filterChanged(filter)"
              ng-options="department.Name as department.Name for department in filterBy.departments">
                <option>Department</option>
            </select>
        </li>
    </ul>
</div><!-- /.container-fluid -->