<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <label>Email Id</label>
            </div>
            <div class="col-sm-8">
                {{userEdit.user.Email}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Mobile Number</label>
            </div>
            <div class="col-sm-8">
                {{userEdit.user.Mobile}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Address</label>
            </div>
            <div class="col-sm-8">
                {{userEdit.user.Address}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Salary</label>
            </div>
            <div class="col-sm-8">
                {{userEdit.user.Salary}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Department</label>
            </div>
            <div class="col-sm-8">
                {{userEdit.user.Department}}
            </div>
        </div>
    </div>
</div>