<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <small class="pull-right" ng-if="home.users">{{home.users.length}} users</small>
                    Users 
                </h1>
            </div> 
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th>User Details</th>
                        <th>Contact Info</th>
                        <th>Adress</th>
                        <th>Salary Development</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in home.users">
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="user-img" src="http://lorempixel.com/40/40/people/1/">
                                </div>
                                <div class="col-sm-9">
                                    <div>{{user.FirstName}} {{user.LastName}}</div>
                                    <div>{{user.FirstName}} {{user.LastName}}</div>
                                    <div>{{user.FirstName}} {{user.LastName}}</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                        </td>
                        <td>{{user.Address}}</td>
                        <td>
                            <div>{{user.Salary}}</div>
                            <div>{{user.Department}}</div>
                        </td>
                        <td>
                            <i class="glyphicon glyphicon-edit"></i>
                            <i class="glyphicon glyphicon-remove"></i>
                        </td>
                    </tr>
                </tbody>
            </table> -->
            <div class="row">
                <div class="col-sm-2">User Details</div>
                <div class="col-sm-3">Contact Info</div>
                <div class="col-sm-3">Adress</div>
                <div class="col-sm-2">Salary Development</div>
                <div class="col-sm-2"></div>
            </div>
            <div class="comments-list">
                <div class="row" ng-repeat="user in home.users">
                    <div class="col-sm-2">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img src="http://lorempixel.com/40/40/people/1/">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading user_name">{{user.FirstName}} {{user.LastName}}</h4>
                                <div>{{user.Gender}}</div>
                                <div>{{user.DateOfBirth}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>{{user.Email}}</div>
                        <div>{{user.Mobile}}</div>
                    </div>
                    <div class="col-sm-3">
                        {{user.Address}}
                    </div>
                    <div class="col-sm-2">
                        <div>{{user.Salary}}</div>
                        <div>{{user.Department}}</div>                        
                    </div>
                    <div class="col-sm-2">
                        <i class="glyphicon glyphicon-edit"></i>
                        <i class="glyphicon glyphicon-remove"></i>
                    </div>
                </div>
                <!-- <div class="media" ng-repeat="user in home.users">
                    <p class="pull-right"><small>5 days ago</small></p>
                    <a class="media-left" href="#">
                        <img src="http://lorempixel.com/40/40/people/1/">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading user_name">{{user.FirstName}} {{user.LastName}}</h4>
                        Wow! this is really great.
                        <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>