<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
            <h1>
                <small class="pull-right" ng-if="home.users">{{home.users.length}} users</small>
                Users 
            </h1>
            </div> 
            <div class="comments-list">
                <div class="media" ng-repeat="user in home.users">
                    <p class="pull-right"><small>5 days ago</small></p>
                    <a class="media-left" href="#">
                        <img src="http://lorempixel.com/40/40/people/1/">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading user_name">{{user.FirstName}} {{user.LastName}}</h4>
                        Wow! this is really great.
                        <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>