<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <h4>
                Employee List
            </h4>
        </div>
        <div class="col-sm-10">
            <button class="btn btn-success pull-right" ui-sref="user-add">
                Add User
            </button>
        </div>
    </div>
</div> 
<div class="container">
    <div class="row">
        <up-filter-by filter="home.filter" update-filter="home.filterChanged(filter)"></up-filter-by>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <up-user-list 
                users="home.users"
                remove-user="home.removeUser(user)"
                show-user-details="home.openUserDetails(user)">
            </up-user-list>
        </div>
    </div>
</div>