<div class="row user-list-header">
    <div class="col-sm-3">User Details</div>
    <div class="col-sm-3">Contact Info</div>
    <div class="col-sm-3">Address</div>
    <div class="col-sm-2">Salary / Department</div>
    <div class="col-sm-1"></div>
</div>
<div class="user-list">
    <div class="row user" ng-repeat="user in userList.users">
        <div class="col-sm-3">
            <div class="media">
                <a class="media-left" href="" ng-click="userList.showUserDetails({user: user})">
                    <img class="user-img" 
                        ng-src="{{user.Gender.toLowerCase() == 'female' ? '/img/female-user.png': '/img/male-user.png'}}">
                </a>
                <div class="media-body">
                    <div class="media-heading user_name">{{user.FirstName}} {{user.LastName}}</div>
                    <div><small>{{user.Gender}}</small></div>
                    <div><small>{{user.DateOfBirth}}</small></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div>{{user.Email}}</div>
            <div>{{user.Mobile}}</div>
        </div>
        <div class="col-sm-3">
            {{user.Address}}
        </div>
        <div class="col-sm-2">
            <div>&#8377; {{user.Salary | number: 0 }}</div>
            <div>{{user.Department}}</div>                        
        </div>
        <div class="col-sm-1">
            <a ui-sref="user-edit({id: user.Id})"><i class="glyphicon glyphicon-edit"></i></a>
            <i class="glyphicon glyphicon-remove"></i>
        </div>
    </div>
    <div ng-if="!userList.users.length" class="row alert alert-danger user" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        No user(s)
    </div>
</div>