<div class="row user-list-header">
    <div class="col-sm-3">User Details</div>
    <div class="col-sm-3">Contact Info</div>
    <div class="col-sm-3">Address</div>
    <div class="col-sm-2">Salary Development</div>
    <div class="col-sm-1"></div>
</div>
<div class="user-list">
    <div class="row user" ng-repeat="user in userList.users">
        <div class="col-sm-3">
            <div class="media">
                <a class="media-left" href="#">
                    <img class="user-img" 
                        ng-src="{{user.Gender.toLowerCase() == 'female' ? '/img/female-user.png': '/img/male-user.png'}}">
                </a>
                <div class="media-body">
                    <h6 class="media-heading user_name">{{user.FirstName}} {{user.LastName}}</h4>
                    <div>{{user.Gender}}</div>
                    <div>{{user.DateOfBirth}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div>{{user.Email}}</div>
            <div>{{user.Mobile}}</div>
        </div>
        <div class="col-sm-3">
            {{user.Address}}
        </div>
        <div class="col-sm-2">
            <div>&#8377; {{user.Salary | number: 0 }}</div>
            <div>{{user.Department}}</div>                        
        </div>
        <div class="col-sm-1">
            <i class="glyphicon glyphicon-edit"></i>
            <i class="glyphicon glyphicon-remove"></i>
        </div>
    </div>
</div>